.table {
    font-size: xx-large;
}

.dies {
    background-color: rgb(138, 192, 164);
}

.hores {
    background-color: rgb(138, 192, 164);
}

.serveis {
    background-color: rgb(109, 211, 236);
}

.eie {
    background-color: rgb(193, 136, 221);
}

.seguretat {
    background-color: rgb(224, 125, 112);
}

.sistemes {
    background-color: rgb(124, 230, 129);
}

.aplicacions {
    background-color: rgb(226, 228, 133);
}

.pati {
    background-color: rgb(165, 216, 214);
}

.titol {
    background-color: rgb(75, 189, 130);
}

.titol2 {
    background-color: rgb(75, 189, 130);
}

td {
    border-width: 1px;
    border-color: black;
    text-align: center;
    color: rgb(1, 1, 119);
}

th {
    border-width: 1px;
    border-color: rgb(9, 1, 82);
    text-align: center;
    color: rgb(1, 1, 119);
}

table {
    border-color: rgb(54, 201, 91);
}