.nav-enlace {
    background: seagreen;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block list-st
}

.nav-enlace:hover {
    background: rgb(143, 188, 154);
}